@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@mixin flex($d, $w, $j, $a) {
    @content;
    display: flex;
    flex-direction: $d;
    flex-wrap: $w;
    justify-content: $j;
    align-items: $a;
}

@mixin size($h, $w) {
    @content;
    height: $h;
    width: $w;
}

$gray: rgb(215, 222, 230);
$blue: #155570;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include flex(row, nowrap, center, center);
    font-family: 'Inter', sans-serif;
    background: #eee;
    min-height: 100vh;
    & main.bg-container {
        @include size(100vh, 100vw);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(to bottom, #C3E29C, #ADE2B5);
        @include flex(row, nowrap, center, flex-start);
        @media (min-width: 500px) {
            @include size(95vh, 95vw);
            border-radius: 15px;
            align-items: center;
        }
    }
}



main .form-container {
    @include size(225px, 100%);
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
    padding: 15px;   
    background: white;
    overflow: hidden;
    animation: expandForm 1s .4s ease forwards;
    & .logo-container {
        height: 100%;
        max-height: 200px;
        @include flex(row, nowrap, center, center);
        & img {
            display: inline;
            height: 10%;
            margin: 0 auto;
            transition: .6s;
            margin-top: 50px;
            opacity: 0;
            animation: showLogo .6s ease-in-out forwards;
        }
    }
}

main .controls {
    color: darken($gray, 20%);
    margin-top: 35px;
    margin-bottom: 10px;
    position: relative;
    .menu-type {
        @include size(35px, 100%);
        border-radius: 3px;
        border: 1px solid $gray;
        padding: 0 0 0 10px;
        margin-bottom: 10px;
        @include flex(row, nowrap, flex-start, center);
        &.language {
            cursor: pointer;
            position: relative;
            padding: 0 10px 0 10px;
        }
        & .label {
            margin-right: 15px;
        }
        & .selected-language-copy {
            margin-right: auto;
            color: darken($gray, 50%);
        }
        & input {
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            color: darken($gray, 35%);
            font-size: 1.1em;
            background: rgb(244, 246, 248);
            padding-left: 10px;
        }
    }
}

main .button-container {
    margin-top: 25px;
    width: 100%;
    @include flex(row, nowrap, flex-end, center);
    & button {
        width: 100%;
        border-radius: 25px;
        background: $blue;
        color: white;
        padding: 8px 30px;
        border: none;
        font-size: 1em;
        transition: .3s;
        cursor: pointer;
        @include flex(row, nowrap, center, center);
        @media (min-width: 500px) {
            width: auto;
        }
        &.success {
            pointer-events: none;
            width: 100%;
            background: #ADE2B5;
            & i {
                margin-right: 20px;
            }
        }
        & img {
            width: 100%;
            max-width: 20px;
        }
        &:hover {
            background: lighten($blue, 10%);
        }
        &.disabled {
            opacity: .3;
            pointer-events: none;
        }
    }
}

main a {
    margin-top: 55px;
    color: darken($gray, 20%);
    text-align: center;
    display: block;
    text-decoration: none;
    transition: .3s;   
    &:hover {
        color: darken($gray, 60%);
    }
}


.select-menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 15px 10px;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid $gray;
    opacity: 0;
    transition: .5s;
    &.active {
        opacity: 1;
        top: 110%;
        pointer-events: auto;
    }
    & ul {
        @include flex(column, nowrap, space-evenly, center);
        width: 100%;
        & li {
            list-style: none;
            width: 100%;
            padding: 5px;
            transition: .2s;
            border-radius: 5px;
            &:hover {
                background: $gray;
                background: rgb(130, 150, 153);
                color: lighten($gray, 25%);
                padding-left: 15px;
            }

        }
    }
}

.no-touch {
    pointer-events: none;
}
i {
    transition: .4s;
}
.flip {
    transform: rotate(-180deg);
}





@keyframes showLogo {
    0% {
        opacity: 0;
        margin-top: 50px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
        height: 100%;
    }
}

@keyframes expandForm {
    0% {
        height: 225px;
    }
    100% {
        height: 500px;
    }
}




p.error-txt {
    color: lighten(rgb(233, 112, 112), 15%);
    font-size: .85rem;
    margin-bottom: 5px;
    font-weight: 600;
    position: absolute;
    top: -35px;
    left: 0;
    transition: .2s ease-in-out;
    opacity: 0;
    &.show {
        top: -25px;
        opacity: 1;
    }
}

.pass-error {
    color: white;
    font-size: .85rem;
    margin-bottom: 5px;
    opacity: 0;
    pointer-events: none;
    font-weight: 600;
    transition: .2s ease-in-out;
    height: 0;
    overflow: hidden;
    &.show {
        height: 16px;
        color: lighten(rgb(233, 112, 112), 15%);
        opacity: 1;
    }
}